<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unibratec.misael_junior.projetofilmes">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".FilmeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FilmeActivity"
            android:theme="@style/AppTheme.NoTitle"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetalheFilmeActivity"
            android:parentActivityName=".FilmeActivity">
            <meta-data android:name="parentActivityName"
                android:value=".FilmeActivity"/>
        </activity>
    </application>

</manifest>